<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 1000px;">
    <form (ngSubmit)="onSubmit()"  style="margin-left: 100px;" >
        <div class="form-group">
            <label>Tên xe</label>
            <input type="text" class="form-control" required [(ngModel)]="product.productName" name="productName">
        </div>
        <div class="form-group">
            <label>Loại xe</label>
            <input type="text" class="form-control" required [(ngModel)]="product.productType" name="productType">
        </div>
        <div class="form-group">
            <label>Màu xe</label>
            <input type="text" class="form-control" required [(ngModel)]="product.productColor" name="productColor">
        </div>
        <div class="form-group">
            <label>Gía xe</label>
            <input type="text" class="form-control" required [(ngModel)]="product.productPrice" name="productPrice">
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea name="productDesc" class="form-control" required [(ngModel)]="product.productDesc" ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>